<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{user.username}}!</h2>
  </div>
</div>


<div class="row"
  {{#if user.status === "administrator"}}
  <div class="col s12 m4 l3 chore-list">
    <h3>Chore List:</h3>

    {{#each chores as |chore|}}
    <div class="divider"></div>
        <div class="section">
            <h5>{{chore.chore}} {{chore.value}}</h5>
            <p>{{chore.description}}</p>
            <p><a class="waves-effect waves-light btn-small"a-id="{{user.id}}">Assign</a></p>
        </div>            
    </div>
    {{/each}}
  </div>
  {{/if}}
  <div class="col s12 m4 l3 user-list">
      {{#each users as |user|}}
      <div class="section">
          <h3>{{user.username}}</h3>
          <h5>Points: {{user.points}}</h5>
      </div>
      {{/each}}
      
  </div>
</div>

