<div class="card-action">
                <label>Users</label>
                <select class="browser-default">
                  <option value="" disabled selected>Choose your option</option>
                 {{#each users as |user|}}
                  <option value="{{user.id}}">{{user.username}}</option>
                  
               {{/each}}
                </select>
<div>{{users}}</div>
<div class="row">
        <div class="col s12 m3">
            {{#each choresData as |chore|}}
          <div class="card small blue-grey darken-1" id="chore1">
            <div class="card-content white-text">
              <span class="card-title">{{chore.chore_name}}</span>

              <p>
                  {{chore.description}}
                  
              </p>
            </div>
            <div class="card-action">
                <label>Users</label>
                <select class="browser-default">
                  <option value="" disabled selected>Choose your option</option>
                 {{#each this.users as |user|}}
                  <option value="{{user.id}}">{{user.id}}</option>
                  
               {{/each}}
                </select>
                <p><a class="waves-effect waves-light btn-small" a-id="{{user.id}}">Assign</a></p>
            </div>
          </div>
        {{/each}}
        </div>
      </div>