
<div class="row"
    <div class="col s12 m4 l3 chore-list">
    <h3>Chore List:</h3>
    {{#each choresData as |chore|}}
    
        <div class="divider"></div>
            <div class="section">
                <h5>{{chore.chore_name}} points: {{chore.value}}</h5>
                <p>{{chore.description}}</p>

                    <label>Give me something to do!</label>
                    <select class="browser-default" id={{chore.id}}>
                    <option value="" disabled selected>Who Wants to Work?</option>
                    {{#each ../users as |user|}}
	                <option value="{{user.id}}">{{user.username}}</option>
                    {{/each}}
                    </select>
    <p><input class="waves-effect waves-light btn" id={{chore.button}} type="button" value="Assign" onclick="GetSelectedTextValue()" /></p>

    {{/each}}
            </div>
    </div> 
    {{!-- <div>
    {{showMeData}}
    </div>       
  {{#each users as |user|}}
    <div class="col s12 m4 l3 chore-list">
        <h3>{{user.username}}:</h3>
    </div>
    <div>
        {{#each ../showMeData as |data|}}
        <ul>
            <li class="#">{{data.user_id}}</li>
            <li class="#">{{data.chore.chore_name}}</li>
            
        </ul>
        {{/each}}
    </div> --}}

   {{!-- {{/each}} --}}
   <div>
       {{#each users as |user|}}
        <h3>{{user.username}}</h3>
        <ul>
            {{#each user.chores as |chore|}}
            <li>{{chore.chore_name}}</li>
            {{/each}}
        </ul>
       {{/each}}
   </div>
    <script src="/js/getChore.js"></script>